/* google fonts link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body{
  background-color: rgb(194, 194, 194);
}

.container {
  background-color: #ffffff;
  box-shadow: 0px 0px 65px #929090;
  border: none;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  height: 33rem;
  width: 58rem;
  margin: 3% 0 0 16%;
  padding: 0px;
  text-align: center;
}

.container img {
  border-radius: 10px;
  float: right;
  height: 33rem;
  width: 30rem;
}

.container .loginBox {
  width: 28rem;
  padding-top: 55px;
}

.container .loginBox #firstheading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: 5px 0px 0px -52px;
  padding: 0px;
}

.container .loginBox #secondheading {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: 5px 0px 0px -141px;
  padding: 0px;
}

.container .loginBox p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  margin-left: -159px;
}

.loginBox .inputBox {
  position: absolute;
  padding: 5px;
  margin: 0px 0px 0px 57px;
}

.loginBox .inputBox .inputStyle {
  border-radius: 5px;
  border: 1px solid silver;
  font-size: 15px;
  height: 30px;
  margin-top: 10px;
  padding: 5px 0px 5px 17px;
  width: 255px;
}

.loginBox .inputBox .check {
  height: 13px;
  margin: 9px 1px 0px 0px;
  width: 13px;
}

.loginBox .inputBox span {
  font-size: 12px;
  color: rgb(100, 99, 99);
}

.loginBox .inputBox a {
  color: rgb(100, 99, 99);
  font-size: 11px;
  margin-left: 62px;
  text-decoration: none;
}

.loginBox .inputBox .loginBtn {
  border: none;
  border-radius: 5px;
  background-color: rgb(136, 30, 174);
  color: #fff;
  font-size: 11px;
  float: left;
  height: 32px;
  margin: 35px 0px 0px 3px;
  width: 59px;
}

.inputBox .loginBtn:hover {
  background-color: rgb(85, 2, 114);
  cursor: pointer;
}

.inputBox #SignUpStyle {
  color: rgb(136, 30, 174);
  margin-left: 0px;
}

.inputBox .bottomSignup {
  float: left;
  margin: 52px 0px 0px 1px;
}
